* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1C6D2;
    color: #C72C41;
    text-align: center;
    font-family: Arial, sans-serif;
}

header {
    background-color: #C72C41;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #FF6F91;
}

section img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-content {
    margin: 30px auto;
    width: 80%;
    padding: 20px;
    background: #FFB3BA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #C72C41;
}

h3 {
    color: #FF4E50;
}

li {
    list-style: none;
    font-size: 16px;
    color: #C72C41;
}

footer {
    margin-top: 20px;
    padding: 15px;
    background: #C72C41;
    color: white;
    font-size: 14px;
}

button {
    background-color: #C72C41;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #FF4E50;
}
